# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
venv/
env/
ENV/
edge_env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
